/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    background-image: url('https://creatr-seed.s3.amazonaws.com/splash1.jpg');
    background-size: 100vw 100vh;
}



.nav-bar {
  display: flex;
  background-color: rgba(0,0,0,.2);
  height: 55px;
  justify-content: space-between;
}

.logo { 
  height: 55px;
  flex: 1;
}

// .login-form-box {
//   background-color:white;
// }

.login-signup {
  // display: flex;
  // justify-content: flex-end;
  // flex: 1;
  font-size: medium;
  // align-items: center;
  margin-top: 15px;
}

.loginbutton {
  text-decoration: none;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 1;
  color: white;
}

.signupbutton {
  text-decoration: none;
  background-color: white;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 1;
  background-color: white;
  border-radius: 4%;
  padding: 5px;
  transition-duration: 0.3s;
}

.signupbutton:hover {
  color: gray;
}

.header-group {
  background-color: rgba(0,0,0,.2);
  height: 55px;
  font-size: x-large;
}

.login-form-container {
  background-color: white;
  display: flex;
  color:black;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-49%, -49%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 4%;
  padding: 50px 20px 20px;
  // background-color: rgba(0,0,0,.3);
  // border: 2px solid black;
}

.header-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
}

.logout-button {
  align-items: flex-end;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

.gridParent {
  display: block;
}

.gridPhotos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0,500px));
  // justify-content: space-evenly;
}

.explorePhotos {
  height: 500px;
  width: 100%;
}

.splashMsg {
  color: white;
  justify-content: center;
  text-align: center;
  padding: 21% 21% 21%;
}

.splashMsg1 {
  font-size: 100px;
  overflow: hidden;
  max-width: 0rem;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
   slow 3s ease forwards,
   fadeIn 5s,
   typing 4s steps(40, end),
   blink-caret .75s step-end infinite;

}

@keyframes slow {
  from {
    max-width: 0rem;
  }
  to { 
    max-width: 100rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { 
      border-color: transparent 
    }
    50% { 
      border-color: orange; 
    }
}



.splashMsg2 {
  font-size: 35px;
}

.altsignupbutton {
  color: black;
  font-size: 35px;
  text-decoration: none;
  // border: 2px solid black;
  background-color: white;
  border-radius: 4%;
  padding: 5px;
  margin-top: -100px;
  transition-duration: 0.3s;
}

.altsignupbutton:hover {
  color: gray;
}

.session-submit {
  color:white;
  background-color:#128fdc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  width: 200px;
}

.session-submit:hover {
  background-color: #0e77b8;
}

.searchbar {
  width: 800px;
  height: 25px;
  text-align: center;
  margin-top: 11px;
}

.guestbutton {
  color:white;
  background-color:#128fdc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  width: 200px;
}

.guestbutton:hover {
  background-color: #0e77b8;
}

// .formLogo {
//   margin-left: 40px;
// }

.bottomfooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 32.5px;
  display: flex;
  justify-content: space-evenly;
  color: gray;
  background-color: rgba(0,0,0,.75);

}

.explorebutton {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: white;
  font-size: 25px;
  height: 30px;

}
