/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  body{
//     background-image: url('https://creatr-seed.s3.amazonaws.com/splash1.jpg');
//     background-size: 100vw 100vh;
//     z-index: 1;
// }


@import "variables/fonts";

html, body, #root, #app {
  height: 100%;
  // position: absolute;
}

// #root{
//   // background-color: #212124f1;
// }


.login-form-box {
  // border-radius: 2px solid red;
}

.header-group {
  background-color: rgba(0,0,0,.2);
  height: 55px;
  font-size: x-large;
}


// .gridParent {
//   display: flex;
//   width: 80%;
//   margin: 125px auto;

//   .gridPhotos {
//     display: grid;
//     grid-gap: 5px;
//     // grid-template-columns: minmax(0, 330px);
//     // grid-template-columns: auto auto auto auto;
//     // grid-template-columns: 200px 5fr;
//     grid-template-columns: 100px repeat(2, 1fr auto);
  
//     .img {
//       max-height: 200px;
//       min-width: 10%;
//       border: 1px solid gray;
//       object-fit: cover;
//     }
//   }
// }


.gridParent {
  // line-height: 0; 
  -webkit-column-count: 5;
  -webkit-column-gap: 5px;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;  
  row-gap: 20px;
  width: 80%;
  margin: 125px auto;
}

.img {
  width: 100% !important;
  height: auto !important;

  &:hover {
    cursor: cell;
    transform: translate(5%, -5%);
    transition: 1s all;
  }
}

@media (max-width: 1200px) {
  .gridParent {
  -moz-column-count:4;
  -webkit-column-count:4;
  column-count:4;
  }
}
@media (max-width: 1000px) {
  .gridParent {
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count: 3;
  }
}
@media (max-width: 800px) {
  .gridParent {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }
}
@media (max-width: 400px) {
  .gridParent {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  }
}

// .gridParent .img {
//   columns: 3 250px;
//   gap: 15px;
// }

// .gridParent .img img {
//   margin-bottom: 10px;
//   border-radius: 5px;
//   width: 100%;
// }


    // &:hover {
    //   cursor: cell;
    //   box-shadow: 18px 18px 48px 18px rgba(39, 4, 4, 0.849);
    //   transform: translate(3%, -3%);
    //   transition: 1s all;
    // }