/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  body{
//     background-image: url('https://creatr-seed.s3.amazonaws.com/splash1.jpg');
//     background-size: 100vw 100vh;
//     z-index: 1;
// }


@import "variables/fonts";

html, body, #root, #app {
  height: 100%;
  // position: absolute;
  z-index: -1000
}

// #root{
//   position: absolute;
//   z-index: -1000;
// }

.nav-bar {
  display: flex;
  background-color: rgba(0,0,0,.2);
  height: 55px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.logo { 
  height: 55px;
  flex: 1;
}

// .login-form-box {
//   background-color:white;
// }

.login-signup {
  // display: flex;
  // justify-content: flex-end;
  // flex: 1;
  // font-size: medium;
  // align-items: center;
  margin-top: 20px;
}

.loginbutton {
  text-decoration: none;
  font-size: 15px;
  font-family: $montserrat;
  font-weight: 1;
  color: white;
}

.signupbutton {
  text-decoration: none;
  background-color: white;
  color: black;
  font-family: $montserrat;
  font-size: 15px;
  font-weight: 1;
  background-color: white;
  border-radius: 4%;
  padding: 7px;
  transition-duration: 0.3s;
  margin-right: 20px;
}

.signupbutton:hover {
  color: gray;
}

.header-group {
  background-color: rgba(0,0,0,.2);
  height: 55px;
  font-size: x-large;
}
.login-form-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 100%;
  background: url("https://creatr-seed.s3.amazonaws.com/splash_background8.jpg") no-repeat center center;
  // z-index: -1;
}
.login-form-container>div{
  
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
  font-family: $montserrat;
  border-radius: 4%;
  padding: 50px 20px 20px;
  // background-color: rgba(0,0,0,.3);
}


.header-name {
  font-family: $montserrat;
  // font-size: 30px;
  color: white;
}

.logout-button {
  align-items: flex-end;
  font-family: $montserrat;
  font-size: medium;
}

.gridParent {
  display: block;
}

.gridPhotos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0,500px));
  justify-content: space-evenly;
}

.explorePhotos {
  height: 500px;
  width: 100%;
  margin-top: 30px;
}


.splashMsg {
  font-family: $montserrat;
  // background: url("https://creatr-seed.s3.amazonaws.com/splash_background8.jpg") no-repeat center center;
  // background-size: cover;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 21% 21% 21%;
  >img {
    position: absolute;
    top: 0; left: 0; right: 0; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
  }
}

.splashMsg1 {
  font-size: 70px;
  // overflow: hidden; // cut off my text
  max-width: 0rem;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
   slow 3s ease forwards,
   fadeIn 5s,
   typing 4s steps(40, end),
   blink-caret .75s step-end infinite;

}

@keyframes slow {
  from {
    max-width: 0rem;
  }
  to { 
    max-width: 100rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { 
      border-color: transparent 
    }
    50% { 
      border-color: orange; 
    }
}



.splashMsg2 {
  font-size: 30px;
}


.altsignupbutton {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  // border: 2px solid black;
  background-color: white;
  border-radius: 4%;
  padding: 20px;
  margin-top: -100px;
  transition-duration: 0.3s;
}

.altsignupbutton:hover {
  color: gray;
}

.session-submit {
  color:white;
  background-color:#128fdc;
  font-family: $montserrat;
  font-size: 15px;
  border-radius: 4%;
  padding: 5px;
  width: 300px;
  height: 50%;
}

.session-submit:hover {
  background-color: #0e77b8;
}

.searchbar {
  width: 800px;
  height: 25px;
  text-align: center;
  margin-top: 11px;
}

.guestbutton {
  color:white;
  background-color:#128fdc;
  font-family: $montserrat;
  font-size: x-large;
  font-size: 15px;
  border-radius: 4%;
  padding: 5px;
  width: 300px;
  height: 50%;
}

.guestbutton:hover {
  background-color: #0e77b8;
}

// .formLogo {
//   margin-left: 40px;
// }

.bottomfooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 32.5px;
  display: flex;
  justify-content: space-evenly;
  color: gray;
  background-color: #212720;
  // position: relative;
  z-index: 1;

}

.explorebutton {
  font-family: $montserrat;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-bottom: 5%;

}

.showpagephoto {
  // width: 1000px;
  height: 57%;
  position: absolute;
  left: 50%; top: 35%;
  transform: translate(-50%,-50%)
}

.modells {
  position: absolute;
  top: 0; left:0; right: 0; 
  height: 70%;
  background-color: #212124;
  z-index: -1;
}

.imageShow {
  overflow-y: scroll;
  position: absolute;
  top: 0; left:0; right: 0; bottom: 0;

}

.commentSection{
  position: absolute;
  top: 70%;
  padding: 100px;
  height: 500px;
}

#personalGreeting {
  background-color: #212124;
}

.testing {
  height: 100px;
}

.login-input {
    border: .5px solid gray;
    display: block;
    padding: 20px;
    width: 260px;

}

.formLogo{
  margin-left: 90px;
}

.login-form {
  text-align: center;
  font-family: $montserrat;
  font-size: 15px;
}

.errorMsg {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}