.comment { 
  width: calc(100% - 1rem - 50px);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  >div{
    display: flex;
    justify-content: space-between;
    > .comment-settings {
      display: none;
      button:last-child {
        margin-left: 5px;
      }
    }
  }
  &:hover {
    background-color: white;
    .comment-settings {
      display: block;
    }
  }

}