@import "variables/fonts";

.comment { 
  width: calc(100% - 1rem - 50px);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  >div{
    display: flex;
    justify-content: space-between;
    > .comment-settings {
      display: none;
      button:last-child {
        margin-left: 5px;
      }
    }
  }
  &:hover {
    background-color: white;
    padding: 1rem;

    .comment-settings {
      display: block;
    }
  }
}


  .comment-crud-buttons {
    color: gray;
    text-decoration: none;
    background-color: transparent;
    // padding: 6.5px;
    size: large;
    &:hover {
    cursor: pointer;
    color: rgb(65, 65, 65);
    }
  }
  
  .commenter-name {
   font-family: $montserrat;
    text-decoration: none;
    font-size: 15px;
    color: #128fdc;
    &:hover {
      text-decoration: underline;
    }
  }

  .edit-comment-done {
    font-family: $montserrat;
    color: white;
    background-color: #128fdc;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border-radius: 4%;
    padding: 5px;
    height: 50%;
      &:hover {
        cursor: pointer;
        background-color: #1272ad;
    }
      &:active {
      border-color: black;
      }
  }


  .comment-button {
    font-family: $montserrat;
    color: white;
    background-color: #128fdc;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border-radius: 4%;
    padding: 5px;
    height: 50%;
      &:hover {
        cursor: pointer;
        background-color: #1272ad;
      }
      &:active {
      border-color: black;
      }
  }

  .comment-body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }

