.bottomfooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 32.5px;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  background-color: black;
  z-index: 1;
}

.footerButtons {
  display: flex;

    svg{
        font-size: 1.5rem;
        padding: 0px 1.5rem;
        text-decoration: none;
    }

    a:link{
        color: darkgray;
    }
    a:visited{
        color: darkgray;
    }
    a:hover{
        color: white;
    }
    a:focus{
        color: darkgray;
    }
    a:active{
        color: darkgray;
    }
}

