@import "variables/fonts";


.exploreButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0;
  &:hover{
    color: gray;
    cursor: wait;
  }
}


.uploadButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
      &:hover{
        color: gray;
        cursor: wait;
  }
}


.youButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
  &:hover{
    color: gray;
    cursor: wait;
  }
}

#personalGreetingBar {
  background-color: #212124;
  // font-family: $montserrat;
  // text-decoration: none;
  // color: white;
  font-size: 35px;
  // justify-content: space-between;
  z-index: 1;
  min-width: 800px;
  border: red 1px solid;
}

.header-name {
  font-family: $montserrat;
  font-size: 1.5rem;
  color: white;
  margin-top: 15px;
  font-style: italic;
}

.logout-div {
  // display: flex;
  margin-top: 5px;
  margin-right: 15px;
}

.logout-button {
  background-color: white;
  color: black;
  font-family: $montserrat;
  font-size: 15px;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
}

.logout-button:hover {
  color: gray;
}

.uploadButton .nav-bar-button-text {
  font-family: $montserrat;
  visibility: hidden;
  font-size: small;
   width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 55px;
  &:hover {
    visibility: visible;
  }
}

.uploadButton:hover .nav-bar-button-text {
  visibility: visible;
}

.youButton .nav-bar-button-text {
  font-family: $montserrat;
  visibility: hidden;
  font-size: small;
   width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 55px;
  &:hover {
    visibility: visible;
  }
}

.youButton:hover .nav-bar-button-text {
  visibility: visible;
}

.exploreButton .nav-bar-button-text {
  font-family: $montserrat;
  visibility: hidden;
  font-size: small;
   width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 55px;
  &:hover {
    visibility: visible;
  }
}

.exploreButton:hover .nav-bar-button-text {
  visibility: visible;
}