@import "variables/fonts";
.login-signup {
  margin-top: 20px;
}

.logo { 
  height: 55px;
  flex: 1;
}

.loginbutton {
  text-decoration: none;
  font-size: 15px;
  font-family: $montserrat;
  font-weight: 1;
  color: white;
}

.nav-bar {
  display: flex;
  background-color: rgba(0,0,0,.2);
  height: 55px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.signupbutton {
  text-decoration: none;
  background-color: white;
  color: black;
  font-family: $montserrat;
  font-size: 15px;
  font-weight: 1;
  background-color: white;
  border-radius: 4%;
  padding: 7px;
  transition-duration: 0.3s;
  margin-right: 20px;
}

.signupbutton:hover {
  color: gray;
}

.searchbar {
  // width: 800px;
  height: 25px;
  text-align: center;
  justify-content: center;
  // margin-top: 11px;
}
