// .imageShow{
//   overflow-y: scroll;
//   position: absolute;
//   top: 0; left:0; right: 0; bottom: 0;
//   border: 1px yellow solid;


//   .imageShowContent{
//     border: purple solid 1px;

//     .modells{
//       position: absolute;
//       top: 0; left:0; right: 0; 
//       height: 70%;
//       background-color: #212124f1;
//       z-index: -1;
//     }

//     .showpagephoto{
//       height: 57%;
//       position: absolute;
//       left: 50%; top: 35%;
//       transform: translate(-50%,-50%)
//     }
//   }

//   .commentsNfavorites{
//     border: 1px solid red;
//     display: flex;
//     flex-direction: row;
//     height: 30%;

//     .commentSection{
//       height: inherit;
//       background-color: rgb(245, 245, 245);
//       width: calc(50% - 200px)
//     }

//     .favoriteSection{
//       border: 1px solid rgb(0, 255, 149);
//       z-index: 2;
//     }
//   }
// }