@import "variables/fonts";


.tagItem {
  font-family: $montserrat;
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.tag-settings {

}

.tagButton {

}

.deleteTagButton {
  color: black;
  :hover {
    color: red;
  }
}