@import "variables/fonts";

input[type="file"] {
  display: none;
}
label {
  color: white;
  font-family: $montserrat;
  position: absolute;
  color:white;
  background: #0063dc;
  font-family: $montserrat;
  border-radius: 4%;
  padding: 10px;
  display: flex;
  justify-content: center;
  left: 46%; 
  cursor: pointer;
}

.upload-title {
  font-family: $montserrat;

}

.upload-description {
  font-family: $montserrat;

}

#upload-preview {
  max-height: 80%;
  position: absolute;
  top: 50%; left: calc(50% + 20px);
  transform: translate(-50%, -50%);
  max-width: calc(100% - 212px);
}

.upload-form {
  background-color: #212124f1;
  height: 100vh;
  position: absolute;
  top: 55px; left:0; right: 0; 
  // height: calc(70% - 55px);
      background-color: #212124f1;

    }
    
.update-button {
       color: white;
       font-family: $montserrat;
       position: absolute;
       color:white;
       background: #0063dc;
       font-family: $montserrat;
       border-radius: 4%;
       padding: 10px;
       display: flex;
       justify-content: center;
       right: calc(100% - 400px);
       bottom: calc(100% - 63px);
       cursor: pointer;
     }
