@import "variables/fonts";

input[type="file"] {
  display: none;
}
label {
  color: white;
  font-family: $montserrat;
  position: absolute;
  color:white;
  background: #0063dc;
  font-family: $montserrat;
  border-radius: 4%;
  padding: 10px;
  display: flex;
  justify-content: center;
  left: 46%; top: 45%;
  cursor: pointer;
}

.uploadTitle {
  font-family: $montserrat;

}

.uploadDescription {
  font-family: $montserrat;

}

#upload-preview {
  max-height: 80%;
  position: absolute;
  top: 50%; left: calc(50% + 106px);
  transform: translate(-50%, -50%);
  max-width: calc(100% - 212px);
}