@import "variables/fonts";

.user-show-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(0,260px));
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  width: 100%;
  margin-top: 50px;
}


.user-show-photo {
    // border: 5px solid red;
  height: 260px;
  width: 100%;
  margin-bottom: 100px;
  box-shadow: 3px 3px 10px 3px black;
  border-radius: 20px;
  &:hover {
    cursor: cell;
    box-shadow: 18px 18px 48px 18px rgba(39, 4, 4, 0.849);
    transform: translate(3%, -3%);
    transition: 1s all;
  }
}

.photostream-text {
  font-family: $montserrat;
  text-align: center;
  font-size: large;
  // background-color: #EFEFEF;
}

.banner-photo {
  display: flex;
  text-align: center;
  height: 330px;
  width: 100%;
  margin-bottom: 100px;
  border-radius: 1px;
}

.user-banner {
  height: 1%;
}